*{
    margin:0;
    padding: 0;
    font-family:'Lucida Sans', Verdana, sans-serif;
    box-sizing: border-box;
}

.top,.footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.top{
    padding: 0 200px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header ul li, .hero{
    font-size: 18px;
    color: #E5E7EB;
}

.left{
    font-size: 24px;
}

.hero{
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hero-text h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-image{
    min-width: 400px;
    height: 200px;
    background-color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero button{
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 30px;
    border-radius: 10px;
    border : none;
    margin-top: 10px;
    font-weight: bold;
}

.content{
    padding: 40px 0 100px 0;
}

.elements{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.square{
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 30px;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

.information{
    max-width: 150px;
}

.information p{
    text-align: center;
    padding: 10px 0;
}